flows.json
[
    {
        "id": "ed55807b57b8aad5",
        "type": "tab",
        "label": "M&U",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fdec5922cd18c67",
        "type": "tab",
        "label": "CG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "997b68493516f389",
        "type": "tab",
        "label": "MQTT Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed6a385f054acaaf",
        "type": "mqtt-broker",
        "name": "local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c6565b19be1e656e",
        "type": "connection-config",
        "name": "SF Lego City M&U",
        "poturl": "",
        "consumerKey": "myKey",
        "consumerSecret": "mySecret",
        "callbackUrl": "http://localhost:3001",
        "environment": "production",
        "credentialType": "oauth",
        "useEnvCredentials": false,
        "allowMsgCredentials": true,
        "userName": "user@instance.demo",
        "passWord": "supersecret",
        "apiversion": "v57.0"
    },
    {
        "id": "2a9bc4bbb584f2fe",
        "type": "connection-config",
        "name": "SF Lego City CG",
        "poturl": "",
        "consumerKey": "myKey",
        "consumerSecret": "mySecret",
        "callbackUrl": "http://localhost:3001",
        "environment": "production",
        "credentialType": "oauth",
        "useEnvCredentials": false,
        "allowMsgCredentials": true,
        "userName": "user@instance.demo",
        "passWord": "supersecret",
        "apiversion": "v57.0"
    },
    {
        "id": "33a5426b08a26126",
        "type": "mqtt in",
        "z": "ed55807b57b8aad5",
        "name": "",
        "topic": "sensors/carCharging",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ed6a385f054acaaf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "3dc422a125c60cc6"
            ]
        ]
    },
    {
        "id": "039234a69a5f5419",
        "type": "dml",
        "z": "ed55807b57b8aad5",
        "name": "Send Car Charging Event",
        "object": "carCharging__e",
        "action": "insert",
        "connection": "c6565b19be1e656e",
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc422a125c60cc6",
        "type": "template",
        "z": "ed55807b57b8aad5",
        "name": "Create Carging Car Event",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"carCharging__c\" : \"{{payload}}\"\n}",
        "output": "json",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "039234a69a5f5419",
                "d7314b6fa414ca84"
            ]
        ]
    },
    {
        "id": "ffac5bcec7aed446",
        "type": "streaming",
        "z": "ed55807b57b8aad5",
        "name": "ListenForOpenCaseEvents",
        "pushTopic": "/event/OpenCase__e",
        "replayId": "-1",
        "resubScribeOnDoubeSubscription": false,
        "connection": "c6565b19be1e656e",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "bb059c37a6ba193e",
                "ac638e505719ef18"
            ]
        ]
    },
    {
        "id": "bb059c37a6ba193e",
        "type": "debug",
        "z": "ed55807b57b8aad5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "d8bb5070c47433f7",
        "type": "inject",
        "z": "ed55807b57b8aad5",
        "name": "Initialise subscriptions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "ffac5bcec7aed446",
                "8a60c40787220aba"
            ]
        ]
    },
    {
        "id": "d97899fde77665cd",
        "type": "debug",
        "z": "ed55807b57b8aad5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a60c40787220aba",
        "type": "streaming",
        "z": "ed55807b57b8aad5",
        "name": "ListenForCloseCaseEvents",
        "pushTopic": "/event/CloseCase__e",
        "replayId": "-1",
        "resubScribeOnDoubeSubscription": false,
        "connection": "c6565b19be1e656e",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "d97899fde77665cd",
                "054d2b7b4886187b"
            ]
        ]
    },
    {
        "id": "557968df7f879da1",
        "type": "mqtt out",
        "z": "ed55807b57b8aad5",
        "name": "Send Event to MQTT",
        "topic": "sensors/case",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ed6a385f054acaaf",
        "x": 1420,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac638e505719ef18",
        "type": "template",
        "z": "ed55807b57b8aad5",
        "name": "Set Payload to open",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "open",
        "output": "str",
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "557968df7f879da1"
            ]
        ]
    },
    {
        "id": "054d2b7b4886187b",
        "type": "template",
        "z": "ed55807b57b8aad5",
        "name": "Set Payload to close",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "close",
        "output": "str",
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "557968df7f879da1"
            ]
        ]
    },
    {
        "id": "d7314b6fa414ca84",
        "type": "debug",
        "z": "ed55807b57b8aad5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "60a6a2bce6fc7afa",
        "type": "inject",
        "z": "ed55807b57b8aad5",
        "name": "ManualSendOpen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 790,
        "y": 40,
        "wires": [
            [
                "ac638e505719ef18"
            ]
        ]
    },
    {
        "id": "756d437911284d04",
        "type": "inject",
        "z": "ed55807b57b8aad5",
        "name": "ManualSendClose",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "054d2b7b4886187b"
            ]
        ]
    },
    {
        "id": "55eeafa4459f599a",
        "type": "mqtt in",
        "z": "8fdec5922cd18c67",
        "name": "",
        "topic": "sensors/delivery",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ed6a385f054acaaf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 480,
        "wires": [
            [
                "0758d5f17cc1bb34"
            ]
        ]
    },
    {
        "id": "04e0693665d8af55",
        "type": "dml",
        "z": "8fdec5922cd18c67",
        "name": "Send Order Delivered Event",
        "object": "OrderDeliverd__e",
        "action": "insert",
        "connection": "2a9bc4bbb584f2fe",
        "x": 860,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0758d5f17cc1bb34",
        "type": "template",
        "z": "8fdec5922cd18c67",
        "name": "Create Order Delivered Event",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"number__c\" : \"{{payload}}\"\n}",
        "output": "json",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "04e0693665d8af55",
                "f52b75a76c7c8cee"
            ]
        ]
    },
    {
        "id": "eec6f029a079bbed",
        "type": "streaming",
        "z": "8fdec5922cd18c67",
        "name": "ListenForOrderReadyToShip",
        "pushTopic": "/event/OrderReadyToShip__e",
        "replayId": "-1",
        "resubScribeOnDoubeSubscription": false,
        "connection": "2a9bc4bbb584f2fe",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "b3955cb7b27b7d87",
                "4b602089b0611796"
            ]
        ]
    },
    {
        "id": "b3955cb7b27b7d87",
        "type": "debug",
        "z": "8fdec5922cd18c67",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "d4ed432b577643e3",
        "type": "inject",
        "z": "8fdec5922cd18c67",
        "name": "Initialise subscriptions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "eec6f029a079bbed",
                "28be9567df04445e"
            ]
        ]
    },
    {
        "id": "e1cf705495f12eb9",
        "type": "debug",
        "z": "8fdec5922cd18c67",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "28be9567df04445e",
        "type": "streaming",
        "z": "8fdec5922cd18c67",
        "name": "ListenForOrderBackToAccepted",
        "pushTopic": "/event/OrderAccepted__e",
        "replayId": "-1",
        "resubScribeOnDoubeSubscription": false,
        "connection": "2a9bc4bbb584f2fe",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "e1cf705495f12eb9",
                "a68f773294360e88"
            ]
        ]
    },
    {
        "id": "22ec66d94dfdc452",
        "type": "mqtt out",
        "z": "8fdec5922cd18c67",
        "name": "Send Event to MQTT",
        "topic": "sensors/order",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ed6a385f054acaaf",
        "x": 1280,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b602089b0611796",
        "type": "template",
        "z": "8fdec5922cd18c67",
        "name": "Set Payload to close",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "close",
        "output": "str",
        "x": 980,
        "y": 240,
        "wires": [
            [
                "22ec66d94dfdc452"
            ]
        ]
    },
    {
        "id": "a68f773294360e88",
        "type": "template",
        "z": "8fdec5922cd18c67",
        "name": "Set Payload to open",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "open",
        "output": "str",
        "x": 980,
        "y": 320,
        "wires": [
            [
                "22ec66d94dfdc452"
            ]
        ]
    },
    {
        "id": "f52b75a76c7c8cee",
        "type": "debug",
        "z": "8fdec5922cd18c67",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "b2f10e9f0d557169",
        "type": "inject",
        "z": "8fdec5922cd18c67",
        "name": "ManualSendOpen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 60,
        "wires": [
            [
                "4b602089b0611796"
            ]
        ]
    },
    {
        "id": "47a4987f77747cc9",
        "type": "inject",
        "z": "8fdec5922cd18c67",
        "name": "ManualSendClose",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "a68f773294360e88"
            ]
        ]
    },
    {
        "id": "fa1df65591add516",
        "type": "mqtt in",
        "z": "997b68493516f389",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ed6a385f054acaaf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "b2e7e401693cb23a"
            ]
        ]
    },
    {
        "id": "b2e7e401693cb23a",
        "type": "debug",
        "z": "997b68493516f389",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    }
]
